body {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header-container {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container object {
  width: 2rem;
}
.tinder-icon object {
  width: 7rem;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  --rot: 0deg;
  --tx: 0vw;
  transform: translateX(var(--tx)) rotate(var(--rot));
  box-shadow: 0 0 50px rgb(230, 230, 230);
  width: 70vw;
  height: 60vh;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;

  transition: all 0.5s;
}
@media (min-width: 600px) {
  .card {
    width: 60vh;
    transition: all 1s;
  }
}
.card:hover {
  --rot: 10deg;
}
.fadeOut-left {
  --rot: -70deg;
  --tx: -200vw;
}
.fadeOut-right {
  --rot: 70deg;
  --tx: 200vw;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swipe-btn-container {
  margin-bottom: 4rem;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.swipe-btn-container img {
  width: 2rem;
  height: 2rem;
}
.cross-btn img,
.star-btn img {
  width: 2.5rem;
  height: 2.5rem;
}

.btn {
  background-color: white;
  padding: 0.9rem;
  border-radius: 50%;
  box-shadow: 0 0 50px rgb(139, 139, 139);
}

.btn:active {
  transform: scale(0.95);
}
